body {
	margin: 0 auto;
	padding: 0 1rem;
	accent-color: var(--shane4368-color-green);
	background-color: var(--color-background-primary);
	color: var(--color-text-secondary);
	max-width: 11in;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: system-ui;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
	color: var(--color-text-primary);
}

footer {
	margin: 3rem 0;
	color: var(--color-text-tertiary);
}